{
  "info": {
    "title": "API de Servicio de Citas",
    "version": "1.0.0",
    "description": "API para gestionar citas"
  },
  "servers": [
    {
      "url": "https://xxxxx.us-east-1.amazonaws.com",
      "description": "URL de las funciones de la API"
    }
  ],
  "openapi": "3.0.0",
  "components": {
    "schemas": {
      "AppointmentCreate": {
        "type": "object",
        "properties": {
          "insuredId": {
            "type": "string",
            "minLength": 5,
            "maxLength": 5,
            "pattern": "^\\d{5}$",
            "description": "Código de asegurado"
          },
          "scheduleId": {
            "type": "number",
            "minimum": 0
          },
          "countryISO": {
            "type": "string",
            "enum": [
              "PE",
              "CL"
            ]
          }
        },
        "required": [
          "insuredId",
          "scheduleId",
          "countryISO"
        ],
        "description": "Esquema para crear una nueva cita"
      },
      "AppointmentComplete": {
        "type": "object",
        "properties": {
          "insuredId": {
            "type": "string",
            "minLength": 5,
            "maxLength": 5,
            "pattern": "^\\d{5}$",
            "description": "Código de asegurado"
          },
          "scheduleId": {
            "type": "number",
            "minimum": 0
          }
        },
        "required": [
          "insuredId",
          "scheduleId"
        ],
        "description": "Esquema para completar una cita"
      },
      "AppointmentResponse": {
        "type": "object",
        "properties": {
          "insuredId": {
            "type": "string",
            "minLength": 5,
            "maxLength": 5,
            "pattern": "^\\d{5}$",
            "description": "Código de asegurado"
          },
          "scheduleId": {
            "type": "number",
            "minimum": 0
          },
          "countryISO": {
            "type": "string",
            "enum": [
              "PE",
              "CL"
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          },
          "lastStatus": {
            "type": "string"
          },
          "statuses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string"
                }
              },
              "required": [
                "status",
                "createdAt"
              ]
            }
          }
        },
        "required": [
          "insuredId",
          "scheduleId",
          "countryISO",
          "createdAt",
          "updatedAt",
          "lastStatus",
          "statuses"
        ],
        "description": "Esquema para respuesta de cita"
      },
      "AppointmentListResponse": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/AppointmentResponse"
        },
        "description": "Esquema para respuesta de lista de citas"
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          }
        },
        "required": [
          "message"
        ],
        "description": "Esquema para respuesta de error"
      }
    },
    "parameters": {}
  },
  "paths": {
    "/appointments": {
      "post": {
        "summary": "Crear una nueva cita",
        "description": "Endpoint para crear una nueva cita para una persona asegurada",
        "tags": [
          "Citas"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "La cita creada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/insureds/{insuredId}/appointments": {
      "get": {
        "summary": "Obtener citas por ID del asegurado",
        "description": "Recuperar todas las citas para una persona asegurada específica",
        "tags": [
          "Citas"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 5,
              "maxLength": 5,
              "pattern": "^\\d{5}$",
              "description": "Código de asegurado"
            },
            "required": true,
            "description": "Código de asegurado",
            "name": "insuredId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de citas para la persona asegurada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Datos inválidos",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Error interno del servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  }
}